<template name = "joinus">
    <div class = "container landing-container">
        <h1>Create your Account below</h1>
        <form class = "join-form-username form-inline">
            <div class = "form-group">
                <label for="username">Username</label>
                <input type = "text" name = "username" class = "form-control" placeholder ="Enter a username"/>


                <span class = "input-checkbox">
                   No
                </span>
            </div>
            <button type = "submit" class = "btn btn-joinus">Next</button>
        </form>
    </div>
</template>