<template name = "landing">
    <div class = "container landing-container">
        <h1>Welcome to your personal story creator</h1>
        <p>Story creator is a place for you and your children to come and have fun creating new stories when ever you want.
         Browse other families stories and rate them as you will.
        </p>

        <p>
            Join our adventure mode every night and earn cool prizes for your account.   Adventure mode will choose random items for you to utilize in your story.
            The community will vote on the best adventure mode story and crown a winner.  The winner will be recognized with prizes unique to each winner.
        </p>
        <p>
            At the end of each year the community will vote on the best adventure winner and that winner will get a published copy of their children story.
        </p>

        <div class = "landing-story-image">
            <h2>Story Image</h2>
        </div>
        <p>
            Join our community of talented story tellers both adult and children alike.  <a href = "{{pathFor 'joinus'}}">Join us now</a> <span>to get started!</span>
        </p>
    </div>
</template>